@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

:root {
    font-size: 62.5%;
}

.header {
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    padding: 2rem;
}

.img-type,
.feature {
    display: flex;
    align-items: center;
}

.bmp,
.jpg,
.png,
.edit {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: white;
    color: navy;
    margin: 1rem 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.eye,
.full {
    font-size: 3rem;
    color: white;
    margin: 1rem 2rem;
    cursor: pointer;
}


.main {
    display: flex;
}

.input {
    width: 30%;
    height: 85vh;
    background-color: rgb(235, 235, 235);
    padding: 5rem;
    font-size: 2.5rem;
}

.output {
    width: 70%;
    padding: 5rem;
}

.output table {
    border-collapse: collapse;
    background-color: white;
    padding: 2rem;
}


.output td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.output .table span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
}


.img-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #020202a8;
    display: none;
}

.img-section-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-section-close {
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
    font-size: 40px;
    position: absolute;
    border-radius: 50%;
    top: 5%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}





@media screen and (max-width : 1200px) {
    :root {
        font-size: 54.69%;
    }
}

@media screen and (max-width : 1000px) {
    :root {
        font-size: 46.88%;
    }
}

@media screen and (max-width : 800px) {
    :root {
        font-size: 39.06%;
    }

}


@media screen and (max-width : 500px) {

    .header{
       flex-direction: column;
    }
}



@media screen and (min-width : 2000px) {
    :root {
        font-size: 101.57%;
    }
}